---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1581540782'
      Etag:
      - W/"59f80ff61a7d952360985fd79c828ed8"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"PaulDebevec","id":20971079,"node_id":"MDQ6VXNlcjIwOTcxMDc5","avatar_url":"https://avatars3.githubusercontent.com/u/20971079?v=4","gravatar_id":"","url":"https://api.github.com/users/PaulDebevec","html_url":"https://github.com/PaulDebevec","followers_url":"https://api.github.com/users/PaulDebevec/followers","following_url":"https://api.github.com/users/PaulDebevec/following{/other_user}","gists_url":"https://api.github.com/users/PaulDebevec/gists{/gist_id}","starred_url":"https://api.github.com/users/PaulDebevec/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PaulDebevec/subscriptions","organizations_url":"https://api.github.com/users/PaulDebevec/orgs","repos_url":"https://api.github.com/users/PaulDebevec/repos","events_url":"https://api.github.com/users/PaulDebevec/events{/privacy}","received_events_url":"https://api.github.com/users/PaulDebevec/received_events","type":"User","site_admin":false},{"login":"mcat56","id":51488670,"node_id":"MDQ6VXNlcjUxNDg4Njcw","avatar_url":"https://avatars1.githubusercontent.com/u/51488670?v=4","gravatar_id":"","url":"https://api.github.com/users/mcat56","html_url":"https://github.com/mcat56","followers_url":"https://api.github.com/users/mcat56/followers","following_url":"https://api.github.com/users/mcat56/following{/other_user}","gists_url":"https://api.github.com/users/mcat56/gists{/gist_id}","starred_url":"https://api.github.com/users/mcat56/s[...]
