---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/rlew421/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1580955541'
      Etag:
      - W/"3747b14b8bdf68763aad5ea5afa0e961"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/48839191/repos?page=2>; rel="next", <https://api.github.com/user/48839191/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":214946426,"node_id":"MDEwOlJlcG9zaXRvcnkyMTQ5NDY0MjY=","name":"activerecord-obstacle-course","full_name":"rlew421/activerecord-obstacle-course","private":false,"owner":{"login":"rlew421","id":48839191,"node_id":"MDQ6VXNlcjQ4ODM5MTkx","avatar_url":"https://avatars0.githubusercontent.com/u/48839191?v=4","gravatar_id":"","url":"https://api.github.com/users/rlew421","html_url":"https://github.com/rlew421","followers_url":"https://api.github.com/users/rlew421/followers","following_url":"https://api.github.com/users/rlew421/following{/other_user}","gists_url":"https://api.github.com/users/rlew421/gists{/gist_id}","starred_url":"https://api.github.com/users/rlew421/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rlew421/subscriptions","organizations_url":"https://api.github.com/users/rlew421/orgs","repos_url":"https://api.github.com/users/rlew421/repos","events_url":"https://api.github.com/users/rlew421/events{/privacy}","received_events_url":"https://api.github.com/users/rlew421/received_events","type":"User","site_admin":false},"html_url":"https://github.com/rlew421/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/rlew421/activerecord-obstacle-course/deployments","created_at":"2019-10-14T04:16:28Z","updated_at":"2019-12-29T03:27:03Z","pushed_at":"2019-12-29T03:27:00Z","git_url":"git://github.com/rlew421/activerecord-obstacle-course.git","ssh_url":"git@github.com:rlew421/activerecord-obstacle-course.git","clone_url":"https://github.com/rlew421/activerecord-obstacle-course.git","svn_url":"https://github.com/rlew421/activerecord-obstacle-course","homepage":null,"size":62,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":222555307,"node_id":"MDEwOlJlcG9zaXRvcnkyMjI1NTUzMDc=","name":"adopt_dont_shop","full_name":"rlew421/adopt_dont_shop","private":false,"owner":{"login":"rlew421","id":48839191,"node_id":"MDQ6VXNlcjQ4ODM5MTkx","avatar_url":"https://avatars0.githubusercontent.com/u/48839191?v=4","gravatar_id":"","url":"https://api.github.com/users/rlew421","html_url":"https://github.com/rlew421","followers_url":"https://api.github.com/users/rlew421/followers","following_url":"https://api.github.com/[...]
