---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1581114272'
      Etag:
      - W/"9262901bf3a9953a10a87dfcd1f9cf83"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":216681766,"node_id":"MDEwOlJlcG9zaXRvcnkyMTY2ODE3NjY=","name":"futbol","full_name":"itemniner/futbol","private":false,"owner":{"login":"itemniner","id":49219371,"node_id":"MDQ6VXNlcjQ5MjE5Mzcx","avatar_url":"https://avatars2.githubusercontent.com/u/49219371?v=4","gravatar_id":"","url":"https://api.github.com/users/itemniner","html_url":"https://github.com/itemniner","followers_url":"https://api.github.com/users/itemniner/followers","following_url":"https://api.github.com/users/itemniner/following{/other_user}","gists_url":"https://api.github.com/users/itemniner/gists{/gist_id}","starred_url":"https://api.github.com/users/itemniner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/itemniner/subscriptions","organizations_url":"https://api.github.com/users/itemniner/orgs","repos_url":"https://api.github.com/users/itemniner/repos","events_url":"https://api.github.com/users/itemniner/events{/privacy}","received_events_url":"https://api.github.com/users/itemniner/received_events","type":"User","site_admin":false},"html_url":"https://github.com/itemniner/futbol","description":null,"fork":true,"url":"https://api.github.com/repos/itemniner/futbol","forks_url":"https://api.github.com/repos/itemniner/futbol/forks","keys_url":"https://api.github.com/repos/itemniner/futbol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/itemniner/futbol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/itemniner/futbol/teams","hooks_url":"https://api.github.com/repos/itemniner/futbol/hooks","issue_events_url":"https://api.github.com/repos/itemniner/futbol/issues/events{/number}","events_url":"https://api.github.com/repos/itemniner/futbol/events","assignees_url":"https://api.github.com/repos/itemniner/futbol/assignees{/user}","branches_url":"https://api.github.com/repos/itemniner/futbol/branches{/branch}","tags_url":"https://api.github.com/repos/itemniner/futbol/tags","blobs_url":"https://api.github.com/repos/itemniner/futbol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/itemniner/futbol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/itemniner/futbol/git/refs{/sha}","trees_url":"https://api.github.com/repos/itemniner/futbol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/itemniner/futbol/statuses/{sha}","languages_url":"https://api.github.com/repos/itemniner/futbol/languages","stargazers_url":"https://api.github.com/repos/itemniner/futbol/stargazers","contributors_url":"https://api.github.com/repos/itemniner/futbol/contributors","subscribers_url":"https://api.github.com/repos/itemniner/futbol/subscribers","subscription_url":"https://api.github.com/repos/itemniner/futbol/subscription","commits_url":"https://api.github.com/repos/itemniner/futbol/commits{/sha}","git_commits_url":"https://api.github.com/repos/itemniner/futbol/git/commits{/sha}","comments_url":"https://api.github.com/repos/itemniner/futbol/comments{/number}","issue_comment_url":"https://api.github.com/repos/itemniner/futbol/issues/comments{/number}","contents_url":"https://api.github.com/repos/itemniner/futbol/contents/{+path}","compare_url":"https://api.github.com/repos/itemniner/futbol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/itemniner/futbol/merges","archive_url":"https://api.github.com/repos/itemniner/futbol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/itemniner/futbol/downloads","issues_url":"https://api.github.com/repos/itemniner/futbol/issues{/number}","pulls_url":"https://api.github.com/repos/itemniner/futbol/pulls{/number}","milestones_url":"https://api.github.com/repos/itemniner/futbol/milestones{/number}","notifications_url":"https://api.github.com/repos/itemniner/futbol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/itemniner/futbol/labels{/name}","releases_url":"https://api.github.com/repos/itemniner/futbol/releases{/id}","deployments_url":"https://api.github.com/repos/itemniner/futbol/deployments","created_at":"2019-10-21T23:14:54Z","updated_at":"2020-01-29T04:32:50Z","pushed_at":"2019-10-31T00:41:01Z","git_url":"git://github.com/itemniner/futbol.git","ssh_url":"git@github.com:itemniner/futbol.git","clone_url":"https://github.com/itemniner/futbol.git","svn_url":"https://github.com/itemniner/futbol","homepage":null,"size":522,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":213505315,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM1MDUzMTU=","name":"battleship_game","full_name":"PaulDebevec/battleship_game","private":false,"owner":{"login":"PaulDebevec","id":20971079,"node_id":"MDQ6VXNlcjIwOTcxMDc5","avatar_url":"https://avatars3.githubusercontent.com/u/20971079?v=4","gravatar_id":"","url":"https://api.github.com/users/PaulDebevec","html_url":"https://github.com/PaulDebevec","followers_url":"https://api.github.com/users/PaulDebevec/followers","following_url":"https:[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1581114271'
      Etag:
      - W[...]
