---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1581614610'
      Etag:
      - W/"b6f5b08a43c5459678584a12d44f7499"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":213467134,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM0NjcxMzQ=","name":"little_shop_1908","full_name":"ap2322/little_shop_1908","private":false,"owner":{"login":"ap2322","id":26877629,"node_id":"MDQ6VXNlcjI2ODc3NjI5","avatar_url":"https://avatars0.githubusercontent.com/u/26877629?v=4","gravatar_id":"","url":"https://api.github.com/users/ap2322","html_url":"https://github.com/ap2322","followers_url":"https://api.github.com/users/ap2322/followers","following_url":"https://api.github.com/users/ap2322/following{/other_user}","gists_url":"https://api.github.com/users/ap2322/gists{/gist_id}","starred_url":"https://api.github.com/users/ap2322/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ap2322/subscriptions","organizations_url":"https://api.github.com/users/ap2322/orgs","repos_url":"https://api.github.com/users/ap2322/repos","events_url":"https://api.github.com/users/ap2322/events{/privacy}","received_events_url":"https://api.github.com/users/ap2322/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ap2322/little_shop_1908","description":null,"fork":true,"url":"https://api.github.com/repos/ap2322/little_shop_1908","forks_url":"https://api.github.com/repos/ap2322/little_shop_1908/forks","keys_url":"https://api.github.com/repos/ap2322/little_shop_1908/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ap2322/little_shop_1908/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ap2322/little_shop_1908/teams","hooks_url":"https://api.github.com/repos/ap2322/little_shop_1908/hooks","issue_events_url":"https://api.github.com/repos/ap2322/little_shop_1908/issues/events{/number}","events_url":"https://api.github.com/repos/ap2322/little_shop_1908/events","assignees_url":"https://api.github.com/repos/ap2322/little_shop_1908/assignees{/user}","branches_url":"https://api.github.com/repos/ap2322/little_shop_1908/branches{/branch}","tags_url":"https://api.github.com/repos/ap2322/little_shop_1908/tags","blobs_url":"https://api.github.com/repos/ap2322/little_shop_1908/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ap2322/little_shop_1908/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ap2322/little_shop_1908/git/refs{/sha}","trees_url":"https://api.github.com/repos/ap2322/little_shop_1908/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ap2322/little_shop_1908/statuses/{sha}","languages_url":"https://api.github.com/repos/ap2322/little_shop_1908/languages","stargazers_url":"https://api.github.com/repos/ap2322/little_shop_1908/stargazers","contributors_url":"https://api.github.com/repos/ap2322/little_shop_1908/contributors","subscribers_url":"https://api.github.com/repos/ap2322/little_shop_1908/subscribers","subscription_url":"https://api.github.com/repos/ap2322/little_shop_1908/subscription","commits_url":"https://api.github.com/repos/ap2322/little_shop_1908/commits{/sha}","git_commits_url":"https://api.github.com/repos/ap2322/little_shop_1908/git/commits{/sha}","comments_url":"https://api.github.com/repos/ap2322/little_shop_1908/comments{/number}","issue_comment_url":"https://api.github.com/repos/ap2322/little_shop_1908/issues/comments{/number}","contents_url":"https://api.github.com/repos/ap2322/little_shop_1908/contents/{+path}","compare_url":"https://api.github.com/repos/ap2322/little_shop_1908/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ap2322/little_shop_1908/merges","archive_url":"https://api.github.com/repos/ap2322/little_shop_1908/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ap2322/little_shop_1908/downloads","issues_url":"https://api.github.com/repos/ap2322/little_shop_1908/issues{/number}","pulls_url":"https://api.github.com/repos/ap2322/little_shop_1908/pulls{/number}","milestones_url":"https://api.github.com/repos/ap2322/little_shop_1908/milestones{/number}","notifications_url":"https://api.github.com/repos/ap2322/little_shop_1908/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ap2322/little_shop_1908/labels{/name}","releases_url":"https://api.github.com/repos/ap2322/little_shop_1908/releases{/id}","deployments_url":"https://api.github.com/repos/ap2322/little_shop_1908/deployments","created_at":"2019-10-07T19:20:36Z","updated_at":"2019-10-17T13:59:49Z","pushed_at":"2019-10-17T13:59:47Z","git_url":"git://github.com/ap2322/little_shop_1908.git","ssh_url":"git@github.com:ap2322/little_shop_1908.git","clone_url":"https://github.com/ap2322/little_shop_1908.git","svn_url":"https://github.com/ap2322/little_shop_1908","homepage":null,"size":243,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":65,"license":null,"forks":0,"open_issues":65,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":203463898,"node_id":"MDEwOlJlcG9zaXRvcnkyMDM0NjM4OTg=","name":"Battleship","full_name":"Capleugh/Battleship","private":false,"owner":{"login":"Capleugh","id":47065120,"node_id":"MDQ6VXNlcjQ3MDY1MTIw","avatar_url":"https://avatars1.githubusercontent.com/u/47065120?v=4","gravatar_id":"","url":"https://api.github.com/users/Capleugh","html_url":"https://github.com/Capleugh","followers_url":"https://api.github.com/users/Capleugh/followers","following_url":"https://api.github.com/users/Ca[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1581614609'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1581614610'
      Etag:
      - W[...]
